.close-button {
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 1;
    cursor: pointer;
}

.title {
    display: inline-block;
    width: 115px;
    color: #777;
}

mat-list-item span {
    font-size: 14px;
}

.main-info {
    padding: 0;
    margin-bottom: 16px;
    background-color: #eee;
}

/* Expansion Panel */
.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
    background-color: #eee;
    border-radius: 0;
}

.mat-expansion-panel:not(:last-child) {
    margin-bottom: 16px;
}

.mat-expansion-panel-header {
    background: none !important;
    padding: 0 16px 0 11px;
}

.mat-expansion-panel-header .mat-icon {
    margin-right: 8px;
}

.mat-expansion-panel mat-list {
    margin: 0;
}
